<app-navegacion (navToggled)="onNavToggled($event)"></app-navegacion>


<main class="home"  [ngClass]="{'shifted': !isNavCollapsed}">
    <div [ngClass]="{'modal-background-blur': showModalActualizarUsuario || showModalEliminarUsuario}">    
    
        <div class="text">
            <h1>Usuarios</h1>    
        </div>
    
        <div class="text herramientas">
        <div>
            <i class='bx bx-filter icon'></i>
            <span>Filtrar</span>
        </div>
    
        <div>
            <span>Buscar...</span>
            <i class='bx bx-search icon' ></i>
        </div>
        </div>
    
        <section class="text usuarios">
        <div *ngFor="let item of listUsuarios" class="producto">
            <div class="detalle-usuario">
                <span class="info-usuario">
                    <strong>
                        Id Usuario: 
                    </strong>
                    <p>{{item.id}}</p>
                </span>
                <span>
                    <a class="button" (click)="modalActualizar(item)">
                        <i class='bx bx-edit icon'></i>
                    </a>
                    <a class="button" (click)="modalEliminar(item.id)">
                        <i class='bx bx-trash icon' ></i>
                    </a>
                </span>
            </div>
    
            <span class="info-usuario">
                <strong>
                    Nombre:
                </strong>
                <p>{{item.nombre}}</p>
            </span>

            <span class="info-usuario">
                <strong>
                    Apellido:
                </strong>
                <p>{{item.apellido}}</p>
            </span>

            <span class="info-usuario">
                <strong>
                    Telefono:
                </strong>
                <p>{{item.telefono}}</p>
            </span>
    
            <span class="info-usuario">
                <strong>
                    Correo:
                </strong>
                <p>{{item.email}}</p>
            </span>
        </div>
        </section>
        <div class="pagination">
            <button class="btn-pagination" [disabled]="currentPage === 0" (click)="onPageChange(currentPage - 1)">Anterior</button>
            <span>{{ currentPage + 1 }}</span>
            <button class="btn-pagination" [disabled]="listUsuarios.length < pageSize" (click)="onPageChange(currentPage + 1)">Siguiente</button>
        </div>
    </div>
    
    <!-- MODAL PARA ACTUALIZAR USUARIO -->
    <div class="modal" *ngIf="showModalActualizarUsuario">
        <div class="modal-content text">
            <div class="modal-header">
                <h2>Actualizar Usuario</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUsuario">
                    <div class="form-content">
                        <strong>
                            Nombre: 
                        </strong>
                        <input type="text" formControlName="nombre">
                    </div>
                    <div class="form-content">
                        <strong>
                            Apellido: 
                        </strong>
                        <input type="text" formControlName="apellido">
                    </div>
                    <div class="form-content">
                        <strong>
                            Telefono: 
                        </strong>
                        <input type="number" formControlName="telefono">
                    </div>
                    <div class="form-content">
                        <strong>
                            Correo: 
                        </strong>
                        <input type="text" formControlName="email">
                    </div>
                    <div class="form-content">
                        <strong>
                            Password: 
                        </strong>
                        <input type="text" formControlName="password">
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="button" (click)="cancelar()">Cancelar</a>
                    <a class="button" (click)="update()">Actualizar</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- MODAL PARA ELIMINAR USUARIO -->
    <div class="modal" *ngIf="showModalEliminarUsuario">
        <div class="modal-content text">
            <div class="modal-header">
                <i class='bx bx-error'></i>
                <h2>¿Deseas eliminar este usuario?</h2>
            </div>
            <div class="modal-footer">
                <a class="button" (click)="delete()">Sí</a>
                <a class="button" (click)="cancelar()">No</a>
            </div>
        </div>
    </div>
    
</main>
