<nav class="sidenav close" [ngClass]="collapsed ? 'sidenav-collapsed': ''">     
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <i class="bx bx-menu"></i>
        </button>
        <div class="logo-text" *ngIf="collapsed">
            <span>MKL</span>
        </div>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</nav>


